.brew(id='brew-#{brew.id}', class="pot-red", data-created=brew.createdAt)
  p Coffee maker 
    span.maker-id #{brew.makerId}
    , using pot 
    span.pot-id #{brew.potId}
  - var unixTime = parseInt(brew.createdAt);
  p #{moment(unixTime).calendar()} (#{moment(unixTime).fromNow()})
