- var klass = 'pot-' + brew.potColor;
- if(parseInt(brew.readyAt) > Date.now()) klass += ' brewing';
.brew(id='brew-#{brew.id}', class=klass,
    data-created=brew.createdAt, data-ready=brew.readyAt)
  ul
    //li Brew: #{brew.id}
    li Coffee Maker: #{brew.makerName}
    li Pot: #{brew.potName}
    - var created = parseInt(brew.createdAt);
    - var ready = parseInt(brew.readyAt);
    li Started: #{moment(created).calendar()} (
      span.created-relative #{moment(created).fromNow()}
      | )
    li Ready: #{moment(ready).calendar()} (
      span.ready-relative #{moment(ready).fromNow()}
      | )
