extends layout

block content
  h1= title
  form(method='post')
    h2 Select Coffee Maker
    - each maker in makers
      input(id='maker-' + maker.id, type='radio', name='maker', value=maker.id)
      label(for='maker-' + maker.id)= maker.name
    h2 Select Pot
    - each pot in pots
      input(id='pot-' + pot.id, type='radio', name='pot', value=pot.id)
      label(for='pot-' + pot.id)= pot.name
    br/
    input(type='submit', value='Submit')
